main{
    text-align: center;
    font-size: 20px;
}

.logo_container{
    height: 98px;
    position: relative;
    margin-top: 20px;
}

.logo_elemento{
    top: 50%;
    left: 50%;

    position: absolute;

    transform: translate(-50%,-50%);
}

.search_container{
    width: 549px;
    height: 44px;

    margin: auto;
    margin-top: 20px;
    padding: 0px 10px;

    position: relative;

    border: 1px solid #dfe1e5;
    border-radius: 50px;
}

.search_element{
    width: 100%;
    height: 100%;

    vertical-align: bottom;
}

.search{
    width: 100%;
    height: 100%;

    padding: 0px 5px;

    border: none;
    border-radius: 50px;

    font-size: 15px;
}

.search:focus{
    outline: none;
}

.btn{
    display: inline-block;
    text-decoration: none;

    font-family:Arial;
    font-size: 14px;
    background-color: #f8f9fa;
    color: #3c4043;

    margin: 29px 11px;
    padding: 10px 16px;

    border: 1px solid #f8f9fa;
    border-radius: 4px
}

.btn:hover{
    border: 1px solid #dadce0;
}

.navbar {
    overflow: hidden;
    cursor: pointer;
}

.navbar a{
    display: block;
    text-decoration: none;
    float: right;

    margin-top: 6px;
    padding: 10px;

    font-family: Arial;
    font-size: 13px;
    color: #3c4043;
}

.navbar a:hover{
    text-decoration-line: underline;
}

.nav_profile{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;

    background-image: url(https://avatars.githubusercontent.com/u/83665862?s=400&u=50195b57a4354f9bbcdb2ef4a7762f769228bc50&v=4);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.footer{
    width: 100%;
    height: auto;
    
    position: fixed;
    bottom: 0;

    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;

    padding: 15px;
}

.footer a{
    text-decoration: none;

    font-family: Arial;
    font-size: 14px;
    color: #70757a;

    padding: 15px;
}

.footer a:hover{
    text-decoration: underline;
}

.footer_2{
    position: fixed;
    right: 0;
    bottom: 15px
}




